.header {
  position: relative;
  height: 30em;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  background-image: url("https://images.unsplash.com/photo-1502252430442-aac78f397426?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

.header .h1 {
  color: #fff;
}
