@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

.header {
  position: relative;
  height: 30em;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  background: #5bccf6;
}
.content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-self: center;
}
.h1 {
  font-family: "Finger Paint", cursive;
  margin: 0;
  padding: 100px 0;
  font-size: 8em;
  text-align: center;
  color: #030e12;
}

.p {
  align-self: center;
  font-family: "Finger Paint", cursive;
  width: 60%;
  font-size: 1em;
  text-align: center;
  color: #030e12;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 4.5em;
  }

  .p {
    font-size: 0.75em;
    width: 75%;
  }
}
